.banner-card{
  width: 100%;
  margin-top: 1vh;
  margin-bottom: 3vh;
  position: relative;
  height: 70vh;
  color: white;
  background-color: black;
}
.banner-img{
  height: 70vh;
  width: 100%;

}
.banner-title{
  position: absolute;
  left: 5vw;
  top: 45vh;
}
.banner-text{
  position: absolute;
  top: 50vh;
  left: 5vw;
  height: 4.5rem;
  overflow: hidden;
  margin-right: 5vw;
}
.movie-list{
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: center;
}
.movie-card{
  width: 20vw;
  margin: 1rem;
  color: white;
  position: relative;
}
.movie-title{
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.movie-btn{
  position: absolute;
  bottom: 2rem;
}
.movie-img{
 height: 40vh;   
 width: 20vw;
}
@media screen and (max-width:400px){
  .banner-card{
    height: 30vh;
  }
  .banner-img{
    height: 30vh;
  }
  .banner-title{
    height: 12vh;
    left: 5vw;
  }
  .banner-text{
    top: 17vh;
    left: 5vw;
  }
  .movie-card{
    width: 40vw;
  }
  .movie-img{
    width:60vw; 
  }
}