.box-wrapper{
    border: 10px solid #222;
    display: grid;
    height: 40vh;
    width: 40vw;
    grid-template-columns:auto 10px auto ;
    grid-gap: 10px;
}
.box{
    border: 2px solid #666;
    width: 300px;
    text-align: center;
    
}
.box0{
    background: lightblue;
    
}
.box1{
    background: lightgreen;
}
.box2{
    background: lightcoral;
}
