* {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

/* tool-box css */
.toolbox-cont {
  background-color: aquamarine;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.heading {
  font-size: 10rem;
  font-family: "Courier New", Courier, monospace;
  text-transform: capitalize;
}

.toolbox-priority-cont {
  height: 50%;
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}
.action-btn-cont {
  height: 5rem;
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}
.add-btn,
.remove-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 100%;
}
.add-btn > *,
.remove-btn {
  font-size: 5rem;
}
.color {
  border-radius: 100%;
  background: #000;
}
.h100 {
  height: 100%;
}
.wrem5 {
  width: 5rem;
}
.color-red {
  background-color: rgb(201, 40, 40);
}
.color-orange {
  background-color: orange;
}
.color-green {
  background-color: rgb(2, 156, 2);
}
.color-grey {
  background-color: gray;
}
.border {
  border: solid goldenrod 0.4rem;
}
.toolbox-priority-cont > *:hover,
.action-btn-cont > *:hover,
.select-priority-cont > *:hover {
  background-color: rgb(107, 94, 94);
}

/* modal  css */
.modal-cont {
  height: 50vh;
  width: 50vw;
  position: absolute;
  top: calc((100vh - 50vh) / 2);
  left: calc((100vw - 50vw) / 2);
  display: none;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.942);
}
.textarea-cont {
  height: 100%;
  width: 80%;
}

.select-priority-cont {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: aquamarine;
}

.priority-color {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
}
textarea {
  background-color: rgb(184, 197, 192);
  padding: 2rem;
  height: 100%;
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  font-size: 2rem;
}

.save-btn {
  width: 70%;
  height: 4rem;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 4rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.942);
}

/* notes css */
.note-cont {
  margin: 2rem;
  border-radius: 0.4rem;
  height: 16rem;
  width: 21rem;
}
.note-color {
  height: 2rem;
  padding: 0.4rem;
}
.note-id {
  color: grey;
  height: 3rem;
  padding: 0.4rem 1rem;
  font-size: 2rem;
  background-color: aquamarine;
}

.note-area {
  padding: 0.4rem 1rem;
  font-size: 2.5rem;
  background-color: aquamarine;
  height: 15rem;
  overflow: hidden;
  text-overflow: ellipsis;
  outline: none;
}
.main-cont {
  padding: 5rem;
  row-gap: 6rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.note-lock {
  height: 3rem;
  padding: 0.4rem;
  font-size: 3rem;
  display: flex;
  justify-content: space-evenly;
  background-color: aquamarine;
}
.hide {
  visibility: hidden;
}

.myself {
  height: 10rem;
  width: 10rem;
  border-radius: 100%;
  background: url("https://avatars.githubusercontent.com/u/87217016?v=4");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}
img {
  object-fit: cover;
}

@media screen and (min-width: 710px) and (max-width: 768px) {
  .modal-cont {
    width: 90vw;
    top: calc((100vh - 50vh) / 2);
    left: calc((100vw - 90vw) / 2);
  }
}
@media screen and (max-width: 710px) {
  .modal-cont {
    width: 90vw;
    top: calc((100vh - 30vh) / 2);
    left: calc((100vw - 90vw) / 2);
  }
  .main-cont {
    justify-content: center;
  }
  .toolbox-cont {
    height: 22rem;
    flex-direction: column;
    padding: 1rem;
  }
  .toolbox-priority-cont {
    width: 100%;
  }
  .action-btn-cont {
    width: 100%;
    margin-top: 3rem;
  }
  .myself{
    height: 5rem;
    width: 5rem;
  }
}
