body{
  padding: 0;
  margin: 0;
}
.banner-card{
  width: 100%;
  position: relative;
  height: 70vh;
  color: white;
  outline: none;
}
.banner-img{
  height: 70vh;
  width: 100%;

}
.banner-title{
  position: absolute;
  left: 5vw;
  top: 45vh;
}
.banner-text{
  position: absolute;
  top: 55vh;
  left: 9vw;
  height: 4.5rem;
  overflow: hidden;
  margin-right: 5vw;
}
.movie-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.movie-card{
  width: 20vw;
  margin: 1rem;
  color: white;
  position: relative;
}
.movie-title{
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.movie-btn{
  position: absolute;
  bottom: 5rem;
}
.movie-img{
 height: 40vh;   
 width: 20vw;
}
.button-wrapper{
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 3rem;
}
.movies{
  margin-top: 2rem;
}
.center{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  right: 0;
  margin: auto;
}
.deactive{
  color: grey;
}
.favourites-genres{
  padding: 3rem;
}
.favourites-table{
  padding: 3rem;
}
@media screen and (max-width:400px){
  .movies{
    margin-top: 1rem;
  }
  .banner-card{
    height: 30vh;
  }
  .banner-img{
    height: 30vh;
  }
  .banner-title{
    height: 12vh;
    top: 5vh;
    left: 5vw;
  }
  .banner-text{
    top: 17vh;
    left: 5vw;
  }
  .movie-card{
    width: 40vw;
  }
  .movie-img{
    width:60vw; 
  }
}