input[type = "text"]{
    color: red;
    background-color: aqua;
}
input[type = "password"]{
    color: red;
    background-color: aqua;
    border: solid red 3px;
}
a[href="google.com"]{ /*which has google.com */ 
    color: rgb(255, 0, 157);
}
a[href *="google"]{ /*contain google*/ 
    color: rgb(255, 0, 157) !important;
}

a[href ^="f"]{ /*start with f*/ 
    color: rgb(186, 250, 36);
}
a[href $=".com"]{ /*end with .com*/ 
    color: rgb(50, 211, 176);
}

