@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    /* color: #ce9350; */
}
h1,h3{
    color: rgb(54, 177, 30);
} 
div{
    background-color: rgb(199, 200, 201);
}
span{
    background-color: red;
}