:root{
  --primary-color: hsl(218, 100%, 98%);
  --primary-color-night: #17243a;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
}
.screen{
  background-color: var(--primary-color);
}
