a:link{
    color: aqua;
}
a:visited{
    color: yellow;
}
a:hover{
    color: red;
}

a:active{
    color: black;
}
a:focus{
    border: 2px solid red;
}
a:required{
    border: 2px solid red;
}


/* psudo-element  */
p::first-letter{
    color: #000;
}